version: 2
updates:

  - package-ecosystem: "github-actions"
    open-pull-requests-limit: 10
    directory: "/.github/actions/bootstrap"
    schedule:
      interval: "daily"
    cooldown:
      default-days: 7

  - package-ecosystem: "github-actions"
    open-pull-requests-limit: 10
    directory: "/.github/workflows"
    schedule:
      interval: "daily"
    cooldown:
      default-days: 7

  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: daily
    cooldown:
      default-days: 7
    groups:
      minor-and-patch:
        update-types:
          - "minor"
          - "patch"
    ignore:
      # used to generate Mariner models.
      # pin to keep from introducing needless drift in the models.
      - dependency-name: "xsdata"
