# the default is to run these on commit + push
default_stages:
  - push

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    - id: check-added-large-files
      stages:
        - push
    - id: check-ast
      stages:
        - push
    - id: check-docstring-first
      stages:
        - push
    - id: check-yaml
      stages:
        - push
    - id: check-json
      stages:
        - push
    - id: end-of-file-fixer
      stages:
        - push
    - id: trailing-whitespace
      stages:
        - push
    - id: check-merge-conflict
      stages:
        - push
    - id: debug-statements
      stages:
        - push
    - id: check-ast
      stages:
        - push
    - id: check-case-conflict
      stages:
        - push

  # why use the local repo instead of hosted hooks? so that dependencies are centrally managed through poetry
  - repo: local
    hooks:
      - id: system
        name: black
        entry: poetry run black src tests
        pass_filenames: false
        language: system

  - repo: local
    hooks:
      - id: system
        name: isort
        entry: poetry run isort tests src --filter-files
        pass_filenames: false
        language: system
        files: \.py$
  - repo: local
    hooks:
      - id: system
        name: bandit
        entry: poetry run bandit -r -v -c 'pyproject.toml' src/vunnel
        pass_filenames: false
        language: system

  - repo: local
    hooks:
      - id: system
        name: flake8
        entry: poetry run flake8 src/vunnel
        pass_filenames: false
        language: system

  - repo: local
    hooks:
      - id: system
        name: mypy
        entry: poetry run mypy --config-file ./pyproject.toml src/vunnel
        pass_filenames: false
        language: system
