name: "PR Quality Gate"
on:
  pull_request:
    types:
      # default types...
      - opened
      - synchronize
      - reopened
      # custom types...
      - labeled

jobs:

  select-providers:
    runs-on: ubuntu-20.04
    outputs:
      providers: ${{ steps.determine-providers.outputs.providers }}
    steps:
      - uses: actions/checkout@v3
        with:
          # in order to properly resolve the version from git
          fetch-depth: 0

      - name: Bootstrap environment
        uses: ./.github/actions/bootstrap
        with:
          tools: false

      - name: Determine providers
        id: determine-providers
        run: |
          # be nice to folks troubleshooting in CI...
          cd tests/quality
          poetry run make show-changes

          # determine which providers to run (to later populate the matrix)
          content=`poetry run make select-providers`
          echo $content
          echo "providers=$content" >> $GITHUB_OUTPUT

  validate-provider:
    runs-on: ubuntu-20.04
    needs: select-providers
    if: contains(github.event.pull_request.labels.*.name, 'run-quality-gate')
    strategy:
      matrix:
        provider: ${{fromJson(needs.select-providers.outputs.providers)}}
      fail-fast: false
    permissions:
      contents: read
      packages: read
    steps:
      - uses: actions/checkout@v3
        with:
          # in order to properly resolve the version from git
          fetch-depth: 0

      - name: Bootstrap environment
        uses: ./.github/actions/bootstrap
        with:
          go: true

      - name: Run quality gate
        uses: ./.github/actions/quality-gate
        with:
          provider: ${{ matrix.provider }}

  evaluate-quality-gate:
    runs-on: ubuntu-20.04
    needs:
     - validate-provider
     - select-providers
    if: ${{ always() }}
    steps:
      - run: |
          echo "Validations Status: ${{ needs.validate-provider.result }}"
          echo "Providers Changed: ${{ needs.select-providers.outputs.providers }}"
          if [ '${{ needs.select-providers.outputs.providers }}' == '[]' ]; then
            echo "Quality gate not required: no providers changed"
            exit 0
          fi
          if [ "${{ needs.validate-provider.result }}" != "success" ]; then
            echo "Quality gate failed!"
            exit 1
          fi
          echo "Quality gate passed!"
